<div class="container">
    
    <form class="needs-validation mt-5" novalidate [formGroup]="form">
        <div class="row">
            <div class="mb-3">
                <label for="RA" class="form-label">RA do Aluno</label>
                <input type="text" class="form-control" id="ra" placeholder="Ex: 123456" formControlName="ra" [ngClass]="{ 'is-invalid': submitted && hasError('ra')}">
            </div>
        </div>

        <div class="row">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Fulano de Tal" formControlName="nome" [ngClass]="{ 'is-invalid': submitted && hasError('nome')}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="mb-3">
                    <label for="curso" class="form-label">Curso</label>
                    <select class="form-select form-select-md" id="curso" formControlName="curso" [ngClass]="{ 'is-invalid': submitted && hasError('curso')}">
                        <option value="Análise e Desenvolvimento de Sistemas">Análise e Desenvolvimento de Sistemas</option>
                        <option value="Gestão de TI">Gestão de TI</option>
                        <option value="Mecatrônica Insdustrial">Mecatrônica Insdustrial</option>
                        <option value="Gestão Empresarial">Gestão Empresarial</option>
                      </select>   
                </div>             
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="mb-3">
                    <label for="semestre" class="form-label">Semestre</label>
                    <select class="form-select form-select-md" id="semestre" formControlName="semestre" [ngClass]="{ 'is-invalid': submitted && hasError('semestre')}">
                        <option value="1°">1°</option>
                        <option value="2°">2°</option>
                        <option value="3°">3°</option>
                        <option value="4°">4°</option>
                        <option value="5°">5°</option>
                        <option value="6°">6°</option>
                      </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="mb-3">
                    <label for="periodo" class="form-label">Período</label>
                    <select class="form-select form-select-md" id="periodo" formControlName="periodo" [ngClass]="{ 'is-invalid': submitted &&  hasError('periodo')}">                       
                        <option value="Matutino">Matutino</option>
                        <option value="Vespertino">Vespertino</option>
                        <option value="Noturno">Noturno</option>
                      </select>
                </div>
                </div>
            </div>
            <div class="mt-3 mb-5">
                    <button type="submit" class="btn btn-success" (click)="onSubmit()">Salvar</button>
                    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
            </div>
                
    </form>
</div>